# Khóa mật mã học sinh trắc học AES Fernet.
# Để trống để hệ thống tự động sinh ngẫu nhiên khi khởi chạy lần đầu!
ENCRYPTION_KEY=

# Cấu hình mặc định cho hệ thống
SECURITY_LEVEL=High
VOICE_FEEDBACK=True
